@page
@model firstwebsiteinasp.net_core.Pages.AboutModel
@{
}
<div>
    <div style="width:1100px"><img src="images/er.jpg" height="400" width="1100" /></div>
    
        <div><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></p>
        <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat.</p>
       
        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></p>
        <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat.</p>
        <p>
            <strong>Nemo ipsam voluptatem</strong><br>
            Quia voluptas sit aspernatur aut odit aut fugit, seduia consequuntur magni dolores eos qui ratione. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.<br>
            numquam eius modi tempora incidunt ut labore et dolore magnam.
        </p>
        <p>Every successful entrepreneur knows that a well-designed About Us page brings ‘all the boys and gals in the yard’ which means that it acts as the first point of contact between the ‘creator’ and the ‘receiver’ or else in marketing terms, the ‘seller’ and the ‘buyer’.</p>
    </div>
</div>
